<div class="custom-hide-mobile-view col-lg-3">
    <div class="custom-upcoming-service-desktop-view-left-side custom-bg-dashboard-green ms-5">
        <ul class="list-group bg-transparent list-group-flush">
            @*<li class="list-group-item borderless custom-active-dark-green"><a asp-controller="Customer" asp-action="CustomerPages" class="text-decoration-none ">Dashboard</a></li>
            <div class="white-hr"></div>*@
            <li class="list-group-item  borderless ">
                <a asp-controller="ServiceProvider" asp-action="NewServiceRequest"
                   class="text-decoration-none">New Service Requests</a>
            </li>
            <div class="white-hr"></div>
            <li class="list-group-item borderless"><a asp-controller="ServiceProvider" asp-action="UpComingService" class="text-decoration-none">Upcoming Services</a></li>
            <div class="white-hr"></div>
            <li class="list-group-item borderless"><a asp-controller="ServiceProvider" asp-action="SpServiceHistory" class="text-decoration-none">Service History</a></li>
            <div class="white-hr"></div>
            <li class="list-group-item borderless"><a asp-controller="ServiceProvider" asp-action="MyRatings" class="text-decoration-none">My Ratings</a></li>
            <div class="white-hr"></div>
            <li class="list-group-item borderless"><a asp-controller="ServiceProvider" asp-action="BlockUser" class="text-decoration-none">Block Customers</a></li>
            <div class="white-hr"></div>
            <div class="white-hr"></div>
            <li class="list-group-item borderless"><a asp-controller="ServiceProvider" asp-action="ServiceScheduleGoodToHave" class="text-decoration-none">Service Schedule</a></li>
            <div class="white-hr"></div>
            <div class="white-hr"></div>
            <li class="list-group-item borderless"><a href="#" class="text-decoration-none">Notifications</a></li>
            <div class="white-hr"></div>
        </ul>
    </div>
</div>